.inner {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.header {
  color: #EAEAEA;
  font-size: clamp(2rem, 4vw, 4rem);
  margin: 0 0 25px;
  text-align: center;
}

.wrap {
  background-color: #677360;
  padding: 50px 0;
}